[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
flask = "*"
"boto3" = "*"
twine = "*"
urllib3 = "==1.23"

[dev-packages]
black = "==18.9b0"
pytest = "*"
coverage = "*"
moto = "*"

[requires]
python_version = "3.6"
