[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
flask = "*"
"boto3" = "*"
moto = "*"
pytest = "*"
coverage = "*"
twine = "*"
urllib3 = "==1.23"

[dev-packages]

[requires]
python_version = "3.6"
